<% layout("/layouts/boilerplate") %>

<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const listing =  <%- JSON.stringify(listing) %>;
</script> 











<div class="row">
    <h2 class="heading-image mb-3 fw-semibold"><%= listing.title %></h2>

    <div class="img-middle"><img src="<%= listing.image.url %>" class="show-img mb-2" alt="Listing_image"></div>
    <div class="card col-6 offset-3 show-card listing-card">
        <div class="card-body">
            <p class="card-text"> 
                <b>Owned by : &nbsp;</b><i><%= listing.owner.username %></i><br>
                <b>About : &nbsp;</b><%= listing.description %><br>
                <b>Price : &nbsp;</b>&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %> / night<br>
                <b>Location : &nbsp;</b><%= listing.location %><br>
                <b>Country : &nbsp;</b><%= listing.country %> <br>
            </p>
        </div>
    </div>

    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns mb-3">
        <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form method="POST" action="/listings/<%=listing._id%>?_method=delete">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div> 
    <% } %>
    <hr>




    <div class="col-8 offset-2 mb-3" >
        <% if(currUser) { %>
        <h4 class="mt-3 review-heading">You can leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">

            <div class="mt-4 rating-display">    
            <label for="rating" class="form-label fw-medium rating">Rating &nbsp;<b>:</b> &nbsp; &nbsp;</label>
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            </div>

            <div class="mb-3">
                <label for="comment" class="form-label fw-medium">Comment</label>
                <textarea name="review[comment]" id="comment" col="30" row="5" class="form-control" required placeholder="I feel ..."></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <button class="btn btn-outline-dark mb-5">Submit</button>
        </form>
        <hr>
        <% } %>
    </div>
    
    <% if(listing.reviews.length > 0) { %>
    <div class="row mb-4">
        <h5 class="review-size mt-4"><b>You can read our Reviews here</b></h5>
        <div class="row show-review mt-3">
        <% for(review of listing.reviews)  { %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <b><p class="card-title">@<%= review.author.username  %> </p></b>
                    <p class="starability-result card-text " data-rating="<%= review.rating %>"></p>
                    <p class="card-text comment-size"> <%= review.comment %> </p>
                    <form class="mb-3 mt-3 delete-review" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
        </div>
    </div>
    <hr>
    <% } %>

    <div class="mb-5">
        <h3 class="map-head mb-4">Where you'll be</h3>
        <div id="map"></div>
    </div>
</div> 


<script src="/js/map.js"></script>